{% extends "base.html" %}
{% block content %}
<style>
 @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
    td:nth-of-type(1):before { content: "Department"; }
    td:nth-of-type(2):before { content: "Edit"; }
    td:nth-of-type(3):before { content: "Delete"; }
}

</style>


<div class="container">
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ url_for('admin.add_department') }}">Add Department</a>
        </button>
    </div>
    <br>
    {% if departments %}
    <table role="table" class="text-center" style="margin : auto">
        <thead role="rowgroup">
        <tr role="row">
            <th role="columnheader" width="33%">Department</th>
            <th role="columnheader" width="33%">Edit</th>
            <th role="columnheader" width="33%">Delete</th>
        </tr>
        </thead>
        <tbody role="rowgroup">
        {% for department in departments %}
        <tr role="row">
            <td role="cell">{{ department.name }}</td>
            <td role="cell">
                <a href="{{ url_for('admin.edit_department', id=department.id) }}">Edit</a>
            </td>
            <td role="cell">
                <a href="{{ url_for('admin.delete_department', id=department.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

{% endblock %}
