{% extends "base.html" %}
{% block content %}

    <div class="text-center">
        <h2> Nagarro Assignment</h2>
        {% if not current_user.is_authenticated %}
            <button type="button" class="btn btn-outline-primary">
                <a href="{{ url_for('auth.login') }}">Login</a>
            </button>
            <br><br>
            <button type="button" class="btn btn-outline-info">
                <a href="{{ url_for('auth.register') }}">New User? Let's Get Started!</a>
            </button>
            <br><br>
        {% endif %}
    </div>

{% endblock %}
