{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                <form action="" method="post" class="mt-5 border p-4 bg-light shadow">
                    {{ form.hidden_tag() }}
                    <h4 class="mb-5 text-secondary">Create Your Account</h4>
                    <div class="row">
                        <div class="mb-3 col-md-12">
                            {{ form.email.label }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid",placeholder="Email") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control",placeholder="Email") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form.username.label}}

                            {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form.phone.label }}
                            {% if form.phone.errors %}
                                {{ form.phone(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.phone(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form.firstname.label }}
                            {% if form.firstname.errors %}
                                {{ form.firstname(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.firstname(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form.lastname.label }}
                            {% if form.lastname.errors %}
                                {{ form.lastname(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.lastname(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-6">
                            {{ form.dob.label }}
                            {% if form.dob.errors %}
                                {{ form.dob(class="form-control is-invalid", placeholder='YYYY-MM-DD') }}
                                <div class="invalid-feedback">
                                    {% for error in form.dob.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.dob(class="form-control", placeholder='YYYY-MM-DD') }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-12">
                            {{ form.password.label }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-12">
                            {{ form.confirm_password.label }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="mb-3 col-md-12">
                            {{ form.address.label }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="col-md-12">
                            {{ form.submit(class="btn btn-primary float-end") }}
                        </div>
                    </div>
                </form>
                <p class="text-center mt-3 text-secondary">If you have account, Please <a href="{{ url_for('auth.login') }}">Login Now</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}



